
/* #####################################################
# Variables
##################################################### */
:root { --background-color: #ffffff; /* white */ --link-and-active-elements-color: #9FBA36; /* light blue */ --navbar-and-footer-color: #666666; /* dark gray */ --section-color: #ffffff; /* white */ --table-alternating-color: #f2f2f2; /* light gray */ }


/* #####################################################
# Body
##################################################### */
body { 
    font-family: 'Open Sans', sans-serif; 
    background-color: var(--background-color); 
    background-image: linear-gradient(#ffffff, #D8E5A4) /*#E9F1CB*/
}

/* #####################################################
# Links
##################################################### */
a { color: var(--link-and-active-elements-color); }

/* #####################################################
# Header
##################################################### */
header { padding: 10px; max-width: 1000px; margin: 10px auto; }

.header { list-style-type: none; margin: 0; padding: 0; }

.liheader { float: left; }

.headercontent { margin: 0pt; }

@media screen and (max-width: 600px) { h1.headercontent { margin: 0pt; font-size: 1.5em; } h2.headercontent { margin: 0pt; font-size: 1.17em; } }

/* #####################################################
# Navigation Bar
##################################################### */
nav { 
    overflow: hidden; 
    max-width: 1100px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: var(--navbar-and-footer-color); 
    position: -webkit-sticky; /* Safari */ position: sticky; 
    top: 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 12px;
}


a.topnav { 
    float: left; 
    display: inline-block; 
    color: white; 
    text-align: center; 
    padding: 10px 10px; 
    text-decoration: none; 
    border-radius: 10px;
    /*border: 2px solid var(--navbar-and-footer-color);*/
    transition: 500ms ease; /*"animate" color change*/
}
a.active { 
    background-color: var(--link-and-active-elements-color); 
    /*border: 2px solid var(--link-and-active-elements-color);*/
    }

/* Change the color of links on hover */
a.topnav:hover {
    /*transform: scale(1.2);
    background-color: #ddd;
    color: black;*/
    /*border: 2px solid var(--link-and-active-elements-color);*/
    background-color: var(--link-and-active-elements-color); 
  }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    color: white;/*var(--link-and-active-elements-color);*/
    /*border: 2px solid var(--link-and-active-elements-color);*/
    /*transform: scale(1.5);*/
  }


/*a.icon:hover{    
  transform: rotate(180deg);
  transition: transform 500ms;
}*/



 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 450px) {
    .topnav a:not(.active) {display: none;}
    /*.topnav a.active {max-width: 50%;min-width: 25%;}*/
    .topnav a.icon {
      float: right;
      display: block;
    }
  }


  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 450px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 




/* #####################################################
# Structuring
##################################################### */
section { 
    padding: 10px; 
    max-width: 1000px; 
    background-color: var(--section-color); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin: 15px auto; 
    border-radius: 10px;
}

/* #####################################################
# Tables
##################################################### */

/* publications */
td.publist { vertical-align: top; text-align: left; padding: 5px; }

table.publist { width: 100%; border-spacing: 5px; padding: 10px; border-collapse: collapse; }

tr.publist:nth-child(even) { background-color: var(--table-alternating-color); }


/* teaching */
table.teachingtable { width: 100%; padding: 10px; border-collapse: collapse; }

td.teachingtable { vertical-align: top; text-align: left; padding: 5px; }

th.teachingtable { vertical-align: top; text-align: left; padding: 5px; }

tr.teachingtable:nth-child(even) { background-color: var(--table-alternating-color); } /*var(--table-alternating-color)*/

/* #####################################################
# Footer
##################################################### */
footer { 
    overflow: hidden; 
    max-width: 1100px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: var(--navbar-and-footer-color); 
    top: 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-top: 15px; 
    border-radius: 10px 10px 0px 0px;
}

.footercontent { 
    color: white; 
    text-align: left; 
}

div.footercontainer { 
    padding: 10px; 
    max-width: 1000px; 
    margin: 10px auto; }

/* #####################################################
# Images
##################################################### */

.bioimage {
  border-radius: 10px;
  border: 5px solid var(--link-and-active-elements-color);
}

.logoimage {
  text-align: left;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 450px) {
  .logoimage{display: none;}
}
